*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #F6F5F2;
    
}
nav{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}
header{
    width: 100%;
}
img{
    cursor: pointer;
}
.container{
    width: 85%;
    background-color: white;
}
.nav-link{
    border: 1px groove white !important;
    color: black;
    border: none;
    border-radius: 0 !important;
    cursor: pointer;
}

.nav-link:hover{
    background-color: black !important;
    color: white !important;

}

.slide-container{
    width: 60% !important;
    border: 1px groove white;
    padding: 20px 20px 40px 20px;
    width: 80% !important;
    height: 60%;
}
.slide-dot{
    height: 20px !important;
    width: 20px !important;
    border-radius: 5px !important;
}


.image-content{
    background-color: black;
    opacity: 0.7;
    color: white;
    top: 40px;
    height: 70px;
    line-height: 20px;
    width: 90%;
    left: 30px !important;
    font-weight: bolder;
    scale: 1.2;
}

.carousel-indicators button{
    background-color: white !important;
    width: 10px !important;
    height: 10px !important;
    border: solid 1px !important;
    border-radius: 10px !important;
}
.carousel-indicators .active{
    background-color: black !important;
    border: none !important;
    width: 15px !important;
    height: 15px !important;
}
.carousel-buttons{
    position: relative;
}
.carousel-buttons-left{
    width: 50px;
    height: 50px;
    right: 60px;
    bottom: 20px;
    position: absolute;
    
}
.carousel-buttons-right{
    width: 50px;
    height: 50px;
    right: 45px;
    bottom: 20px;
    position: absolute;
}
.carousel-control-prev, .carousel-control-next{
    opacity: 1 !important;
}
.fa-3x{
    color: black !important;
    opacity: 1 !important;
}
.fa-3x:hover{
    color: white !important;
}
.main-header{
    display: flex;
}
.right-header{
    width: 40%;
    height: 40%;
    padding: 20px;
    border: 1px groove rgba(255, 255, 255, 0.692);

}
.follows, .important-news{
    border: 1px groove white;
}
.important-news{
    padding: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    flex-direction: column;
}
h3{
    background-color: #E3E3E3;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15PX;
}
.important-news p{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}
.aktuel, .diken-ozel, .agora{
    width: 33%;
    border: 1px groove white;
    height: 3750px;

}

section{
    display: flex;
}
.aktuel-new1{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.aktuel-new1 h5{
    padding: 15px 0;
    font-weight: bold;
    border-bottom: 1px groove white;
}
.yellow{
    color: yellow !important;
}
.no-style{
    text-decoration: none;
    color: black;
    border-bottom: 1px groove white;

}
.no-style h5{
    color: black;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 20px;
}
.no-style h5:hover{
    color: #FAA61A;
}
.aktuel-main{
    width: 100%;
}
.agora-type{
    position: relative;
}
.agora-type2{
    display: flex;
    margin-top: 20px;
}
.agora-img{
    width: 75px;
    height: 75px;
    margin: 0px 25px 25px 0;
}
.agora-type-text{
    color: gray;
    flex-direction: column;
}
.gunun11i h5{
    margin-top: 20px;
}
.surdurulebilirlik{
    width: 66%;
    border-left: 1px groove white;
    border-right: 1px groove white;
    border-bottom: 1px groove white;
    padding: 10px 15px 0 20px;
}

.surdurulebilirlik-img{
    margin: 0 20px 20px 0;
    border-bottom: 1px groove white;
    width: 348px;
    height: 180px;
}
.surdurulebilirlik-second p{
    color: black;
    font-size: 18px;
}
.takılanlar-img{
    width: 150px;
    height: 150px;
    margin: 0 20px 20px 0;
    border-bottom: 1px groove white;
}

footer{
    width: 100%;
    height: 10%;
    background-color: black;
}
.footer-main{
    padding: 30px;
    border-bottom: #E3E3E3 1px groove;
}
footer a, footer li{
    list-style: none;
    color: white;
    text-decoration: none;
    
}
footer a:hover{
    color: #FAA61A;
}
.footer-main, .footer-contacts{
    display: flex;
}
.footer-contacts{
    width: 50%;
}
.footer-icons{
    width: 50%;
    display: flex;
    padding-left: 20px;
}
.footer-icons li{
    margin-bottom: 10px;
}
.footer-icons a:hover{
    color: gray;
}
.footer-p{
    color:grey;
    text-align: center;
    margin: 30px;
}


